.questions{
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
    height: 100vh;
    margin-bottom: 100px;
}
button{
    cursor: pointer;
}
.text-answers{
    display: flex;
    justify-content: space-between;
    width: 60%;
    button{
        height: 50px;
    }
}
.action-btns{
    display: flex;
    justify-content: space-between;
     margin-left: 10%;
    margin-right: 20%;
    width: 70%;
    margin-bottom: 4%;
}
